/* 
    Created on : Jun 19, 2017, 9:54:26 PM
    Author     : Dave Packer
*/


#checkBoxLeft{
	border:solid 0px black;
	background: #fff3d3;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 #281e0f; 
	opacity: .8;
}

#checkBoxRight{
	border:solid 0px black;
	background: #fff3d3;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 #281e0f; 
	opacity: .8;
}

#checkBoxEditMenu{
	border:solid 3px #281e0f;
	background: #fff3d3;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 #281e0f; 
	display:inline-block;
	position:absolute;
}

#menu-arrow{
	content: ' ';
	position:absolute;
	width: 0;
	height: 0;
	left:3px;
	top: -20px;
	border: 10px solid;
	border-color: transparent transparent #281e0f transparent;
}

#lowerButtonSlot{
	height: 65px;
}

.checkBox-li{
	/*min-height: 25px;*/
	/*border: 1px solid green;*/
}
.checkBox-li-new{
	height: 20px;
}

li{
}




#onTheTable{
	min-height: 80px;
}

.checkBoxOptions{
	display:inline;
	cursor: pointer; cursor: hand;
	/*margin-left: 8px;*/
}

.checkBoxOptions i {
	color:#281e0f;
	font-size: 15px;
	display:inline-flex;
	vertical-align: middle;
}

.checkBoxListItem{
	display:inline-block;
}


/*.checkBoxListItem:hover{*/
	/*font-weight: bold;*/
/*}*/

