/* 
    Created on : Jun 19, 2017, 9:28:48 PM
    Author     : Dave Packer

colors:
text:#281e0f;
background:#fff3d3; 
brown: #4f140b;
dark-brown:
*/


body{
   background: white url("images/canvas_background.jpeg") no-repeat right bottom;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#281e0f;
	min-width: 700px;
	/*color:red;*/
}
#header{
	
}

.clear{
	clear:both;
}

.leftCol{
	float:left;
	width: 49%;
	display:inline-block;
}

.rightCol{
	float:right;
	width: 49%;
	display:inline-block;
}

.col-content{
	padding: 20px;
}

ol {
	list-style-type: none;
}

.centerMe{
   text-align: center;
}

a:hover, button:hover{
   /*color:#4f140b;*/
   background-color: #42130b;
   font-weight: bold;
}

a:active, button:active{
   /*color:#fff3d3;*/
   /*background-color: #4f140b;*/
}

a:active, button:focus{
   outline: 0;
}

a, button{
   display:inline-block;
   padding:10px;
   background-color: #4f140b;
   color:#fff3d3;
   margin: 5px;
   border-radius: 10px;
   box-shadow: 0 2px 4px 0 #281e0f; 
   text-decoration: none;
}

a{
   border-width: 2px;
   border-style: outset;
   border-color: buttonface;
   border-image: initial;
}

/*text input*/

/*From https://css-tricks.com/styling-texty-inputs-only/*/
input[type=text] {
   border: 3px solid white; 
   border-radius: 5px;
   -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
   -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
   box-shadow: 
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1); 
   padding: 5px;
   background: rgba(255,255,255,0.5);
   margin: 0 0 10px 0;
}



/*Sorter:*/
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sortableList li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.sortableList li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
   height: 0;
   margin-top: -5px;
   left: 20px;
   /*left: 0px;*/
   top: 0px;
   border: 5px solid transparent;
   border-left-color: red;
   border-right: none; 
  
}

ol.sortableList {
   padding-left: 0px;
}

.checkBoxFamily{
   padding-left:0px;
   margin-left:20px;
}

/*.firstLevelFamily{
   padding-left: 0px;
   margin-left: 0px;
}*/
.active{
   border: 1px solid #281e0f;
}

i{
	cursor: default;
}